<ul class="nav" id="&Tag/Part/id;">
    <li class="sidebar-search">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
        </div>
        <!-- /input-group -->
    </li>
    <li >
        <epic:link_action action="go_dashboard" ><i class="fa fa-dashboard fa-fw"></i> Dashboard</epic:link_action>
    </li>
    <li class="&Pageflow/V/chart#.active;">
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <epic:link_action action="go_flot" >Flot Charts</epic:link_action>
            </li>
            <li>
                <epic:link_action action="go_morris" >Morris.js Charts</epic:link_action>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
    	<epic:link_action action="go_tables" ><i class="fa fa-table fa-fw"></i> Tables</epic:link_action>
    </li>
    <li>
        <epic:link_action action="go_forms" ><i class="fa fa-edit fa-fw"></i> Forms</a></epic:link_action>
    </li>
    <li class="&Pageflow/V/ui_element#.active;">
        <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <epic:link_action action="go_panels_wells" >Panels and Wells</epic:link_action>
            </li>
            <li>
                <epic:link_action action="go_buttons" >Buttons</epic:link_action>
            </li>
            <li>
                <epic:link_action action="go_notifications" >Notifications</epic:link_action>
            </li>
            <li>
                <epic:link_action action="go_typography" >Typography</epic:link_action>
            </li>
            <li>
                <epic:link_action action="go_grid" >Grid</epic:link_action>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="#">Second Level Item</a>
            </li>
            <li>
                <a href="#">Second Level Item</a>
            </li>
            <li>
                <a href="#">Third Level <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                </ul>
                <!-- /.nav-third-level -->
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li class="&Pageflow/V/sample_page#.active;">
        <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
            	<epic:link_action action="go_blank" >Blank Page</epic:link_action>
            </li>
            <li>
            	<epic:link_action action="logout" >Login Page</epic:link_action>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
</ul>
<!-- /#side-menu -->