lib-cov
*.class
*DS_Store
*.seed
*.class
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.DS_Store
*.pem
.merge*
pids
logs
results
*.orig
node_modules/
bin/
gen/
npm-debug.log
.project
local_dev.coffee
local_dev.js
git-version.txt

*.sublime-project
*.sublime-workspace

.idea/
.vscode/