
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                
                <div class="panel-heading">
                    <h3 class="panel-title">Crast Test Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
	                    	<epic:form_part form="Login" part="fist_login" show_req=""/>
                            <epic:form_action action="login" value="Login" class="btn btn-lg btn-success btn-block" type="submit" />
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>