<epic:page_part part="morris_demo" />

<div class="row" id="row-1">
    <div class="col-lg-12">
        <h1 class="page-header">Crash Report <small>v1.0.0 (140222)</small></h1>
    </div>
    
</div>

<div class="row" id="row-2">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Overview
            </div>
            
            <div class="panel-body">
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            Target Market %
                        </div>
                        
                        <div class="panel-body">
                            <h2 class="text-center">
                               17%
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                             Target Unique Devices
                        </div>
                        
                        <div class="panel-body">
                            <h2 class="text-center">
                               50
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            Crash Test Runs
                        </div>
                        
                        <div class="panel-body">
                            <h2 class="text-center">
                               1000
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="row-3">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Target Device Coverage
            </div>
            <div class="panel-body">
                <div>
                    <p>
                        <strong>Total</strong>
                        <span class="pull-right text-muted">50</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span >80% </span>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        <strong>Galaxy S III (GT-19300)</strong>
                        <span class="pull-right text-muted">25</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span >60% </span>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        <strong>Galaxy S II (GT-19100)</strong>
                        <span class="pull-right text-muted">15</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span >40% </span>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        <strong>Galaxy Note II (N7100)</strong>
                        <span class="pull-right text-muted">6</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                            <span >50% </span>
                        </div>
                    </div>
                </div>
                
                <div>
                    <p>
                        <strong>Google Nexus 4</strong>
                        <span class="pull-right text-muted">4</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                            <span >25% </span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                OS Coverage
            </div>
            
            <div class="panel-body">
                <div id="morris-donut-chart-ex1"></div>
            </div>
        </div>
    </div>
</div>


<div class="row" id="row-4">
    <div class="container">
        <div class="col-lg-11">
            <div class="panel panel-danger">
                
                <div class="panel-heading">
                    Uncaught Error Stack Traces
                </div>
                
                <div class="panel-body">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">java.lang.NullPointerException</a>
                                    <span class="pull-right">22 Crashes</span>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <code>
                                    java.lang.NullPointerException<br/>
                                           &nbsp;&nbsp;&nbsp;&nbsp;at com.dv-mobile.FileRowArrayAdapter$IPMFilesFilter.publishResults(FileRowArrayAdapter.java:274)<br/>
                                           &nbsp;&nbsp;&nbsp;&nbsp;at android.widget.Filter$ResultsHandler.handleMessage(Filter.java:282)<br/>
                                           &nbsp;&nbsp;&nbsp;&nbsp;at android.os.Handler.dispatchMessage(Handler.java:102)<br/>
                                           &nbsp;&nbsp;&nbsp;&nbsp;at android.os.Looper.loop(Looper.java:157)<br/>
                                           &nbsp;&nbsp;&nbsp;&nbsp;at android.app.ActivityThread.main(ActivityThread.java:5356)<br/>
                                           &nbsp;&nbsp;&nbsp;&nbsp;at java.lang.reflect.Method.invokeNative(Method.java)<br/>
                                           &nbsp;&nbsp;&nbsp;&nbsp;at java.lang.reflect.Method.invoke(Method.java:515)<br/>
                                           &nbsp;&nbsp;&nbsp;&nbsp;at com.android.internal.os.ZygoteInit$MethodAndArgsCaller.run(ZygoteInit.java:1265)<br/>
                                           &nbsp;&nbsp;&nbsp;&nbsp;at com.android.internal.os.ZygoteInit.main(ZygoteInit.java:1081)<br/>
                                           &nbsp;&nbsp;&nbsp;&nbsp;at dalvik.system.NativeStart.main(NativeStart.java)<br/>
                                    </code>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">java.lang.RuntimeException: Unable to start activity : java.lang.NullPointerException</a>
                                    <span class="pull-right">17 Crashes</span>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <code>java.lang.RuntimeException: Unable to start activity : java.lang.NullPointerException<br/>&nbsp;&nbsp;&nbsp;&nbsp;
                                    at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:1973)
                                   <br/>&nbsp;&nbsp;&nbsp;&nbsp;at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:1999)
                                   <br/>&nbsp;&nbsp;&nbsp;&nbsp;at android.app.ActivityThread.access$600(ActivityThread.java:127)
                                   <br/>&nbsp;&nbsp;&nbsp;&nbsp;at android.app.ActivityThread$H.handleMessage(ActivityThread.java:1159)
                                   <br/>&nbsp;&nbsp;&nbsp;&nbsp;at android.os.Handler.dispatchMessage(Handler.java:99)
                                   <br/>&nbsp;&nbsp;&nbsp;&nbsp;at android.os.Looper.loop(Looper.java:137)
                                   <br/>&nbsp;&nbsp;&nbsp;&nbsp;at android.app.ActivityThread.main(ActivityThread.java:4518)
                                   <br/>&nbsp;&nbsp;&nbsp;&nbsp;at java.lang.reflect.Method.invokeNative(Method.java)
                                   <br/>&nbsp;&nbsp;&nbsp;&nbsp;at java.lang.reflect.Method.invoke(Method.java:511)
                                   <br/>&nbsp;&nbsp;&nbsp;&nbsp;at com.android.internal.os.ZygoteInit$MethodAndArgsCaller.run(ZygoteInit.java:974)
                                   <br/>&nbsp;&nbsp;&nbsp;&nbsp;at com.android.internal.os.ZygoteInit.main(ZygoteInit.java:741)
                                   <br/>&nbsp;&nbsp;&nbsp;&nbsp;at dalvik.system.NativeStart.main(NativeStart.java)</code> 
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">java.lang.NullPointerException</a>
                                    <span class="pull-right">5 Crashes</span>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <code>
                                    java.lang.NullPointerException
                                       <br/>&nbsp;&nbsp;&nbsp;&nbsp;at com.dv-mobile.util.PermissionsUtil.canSharedFolder(PermissionsUtil.java:70)
                                       <br/>&nbsp;&nbsp;&nbsp;&nbsp;at com.dv-mobile.view.actionbar.HelperActionBar.getOptionDialog(HelperActionBar.java:77)
                                       <br/>&nbsp;&nbsp;&nbsp;&nbsp;at com.dv-mobile.view.common.dialog.DialogLongItemClick.onCreateView(DialogLongItemClick.java:52)
                                       <br/>&nbsp;&nbsp;&nbsp;&nbsp;at android.support.v4.app.Fragment.performCreateView(Fragment.java:1460)
                                       <br/>&nbsp;&nbsp;&nbsp;&nbsp;at android.support.v4.app.FragmentManagerImpl.moveToState(FragmentManager.java:911)
                                       <br/>&nbsp;&nbsp;&nbsp;&nbsp;at android.support.v4.app.FragmentManagerImpl.moveToState(FragmentManager.java:1088)
                                       <br/>&nbsp;&nbsp;&nbsp;&nbsp;at android.support.v4.app.BackStackRecord.run(BackStackRecord.java:682)
                                       <br/>&nbsp;&nbsp;&nbsp;&nbsp;at android.support.v4.app.FragmentManagerImpl.execPendingActions(FragmentManager.java:1444)
                                       <br/>&nbsp;&nbsp;&nbsp;&nbsp;at android.support.v4.app.FragmentManagerImpl$1.run(FragmentManager.java:429)
                                       <br/>&nbsp;&nbsp;&nbsp;&nbsp;at android.os.Handler.handleCallback(Handler.java:730)
                                       <br/>&nbsp;&nbsp;&nbsp;&nbsp;at android.os.Handler.dispatchMessage(Handler.java:92)
                                       <br/>&nbsp;&nbsp;&nbsp;&nbsp;at android.os.Looper.loop(Looper.java:137)
                                       <br/>&nbsp;&nbsp;&nbsp;&nbsp;at android.app.ActivityThread.main(ActivityThread.java:5103)
                                       <br/>&nbsp;&nbsp;&nbsp;&nbsp;at java.lang.reflect.Method.invokeNative(Method.java)
                                       <br/>&nbsp;&nbsp;&nbsp;&nbsp;at java.lang.reflect.Method.invoke(Method.java:525)
                                       <br/>&nbsp;&nbsp;&nbsp;&nbsp;at com.android.internal.os.ZygoteInit$MethodAndArgsCaller.run(ZygoteInit.java:737)
                                       <br/>&nbsp;&nbsp;&nbsp;&nbsp;at com.android.internal.os.ZygoteInit.main(ZygoteInit.java:553)
                                       <br/>&nbsp;&nbsp;&nbsp;&nbsp;at dalvik.system.NativeStart.main(NativeStart.java)
                                    </code>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
