<epic:defer>
$(function() {

    Morris.Donut({
        element: 'morris-donut-chart-ex1',
        data: [{
            label: 'Jelly Bean (4.1)',
            value: 34
        }, {
            label: "G\'bread (2.3.3)",
            value: 32
        }, {
            label: 'ICS (4.0.3)',
            value: 23
        }, {
            label: 'Jelly Bean (4.2)',
            value: 6
        }, {
            label: 'Froyo',
            value: 5
        }],
        resize: true
    });
});

</epic:defer>