<header id="header">
	<h1>todos</h1>
	<input id="new-todo" data-enter="save_todo" placeholder="What needs to be done?" autofocus>
</header>

<epic:if set="&Todo/Options/count;">
	<section id="main">
		<input id="toggle-all" data-action="click:mark_all" type="checkbox">
		<label for="toggle-all">Mark all as complete</label>
		<ul id="todo-list">
			<epic:foreach table="Todo/Item">
				<li class="&Item/completed#.completed;&Item/is_editing#..editing;">
					<div class="view">
						<input class="toggle" data-action="click:mark_toggle" data-params='{"id":"&Item/id;"}' type="checkbox" checked="&Item/completed#bool;">
						<label data-action="dblclick:edit_item" data-params='{"id":"&Item/id;"}'>&Item/title;</label>
						<a data-action="click:delete_todo" data-params='{"id":"&Item/id;"}' class="destroy btn"></a>
					</div>
					<input class="edit" defaultValue="&Item/title;" data-enter="save_todo" data-p-id="&Item/id;">
				</li>
			</epic:foreach>
		</ul>
	</section>

	<footer id="footer">
		<epic:if name="plural" val="&Todo/Options/not_completed_count;" ne="1"></epic:if>
		<span id="todo-count">&Todo/Options/not_completed_count; item&Tag/If/plural#.s; left</span>
		<ul id="filters">
			<li>
				<a data-action="click:show" data-params='{"state":"all"}' class="&Todo/Options/show_all#.selected;">All</a>
			</li>
			<li>
				<a data-action="click:show" data-params='{"state":"active"}' class="&Todo/Options/show_active#.selected;">Active</a>
			</li>
			<li>
				<a data-action="click:show" data-params='{"state":"completed"}' class="&Todo/Options/show_completed#.selected;">Completed</a>
			</li>
		</ul>
		<epic:if set="&Todo/Options/completed_count;">
			<a data-action="click:clear_completed" class="btn" id="clear-completed">Clear completed (&Todo/Options/completed_count;)</a>
		</epic:if>
	</footer>
</epic:if>
