<epic:page_part part="dashboard_demo_data" />

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-8">
        <epic:page_part part="area_chart_example" />
        <epic:page_part part="bar_chart_example" />
        <epic:page_part part="timeline_example" />
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <epic:page_part part="notifications_panel_example" />
        <epic:page_part part="donut_chart_example" />
        <epic:page_part part="chat_panel_example" />
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->

<!-- /#page-wrapper -->

